.map-h2 {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 20px;
  padding-left: 10px;
  text-align: center;
}

.google-map {
  width: 50%;
  height: 60vh;
}

@media screen and (min-width: 799px) {
  .google-map {
    height: 50vh;
    width: 50%;
  }

  .map-h2 {
    font-size: 1.3rem;
    font-weight: 400;
  }

}
